.global-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 43px;
  background: #f6f6f6;
  user-select: none;
  z-index: 1000;
}
.gf-link {
  position: absolute;
  bottom: 9px;
  width: 100%;
  height: 23px;
  text-align: center;
}
.gf-link a {
  display: inline-block;
  height: 25px;
  margin: 0 44px;
  padding-top: 5px;
  font-size: 11px;
  font-weight: 400;
  font-family: tbold, arial, sans-serif;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.gf-link a:hover,
.gf-link a.active {
  color: #fbb034;
}
