.box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: all 0.75s ease-in-out;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  z-index: 999;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 999;
  animation: toTop 0.8s ease-in-out forwards;
}
.content h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1050px;
  line-height: 150px;
  margin: 0;
  font-size: 160px;
  font-weight: 400;
  color: #000;
  font-family: treg, arial, sans-serif;
  text-align: center;
  transform: translate(-50%, -50%);
}
.gif {
  position: absolute;
  bottom: 100px;
  height: 24px;
  width: 24px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../../imgs/global/4N-loader.gif") no-repeat center center;
}
@-moz-keyframes toTop {
  from {
    top: 70%;
  }
  to {
    top: 0%;
  }
}
@-webkit-keyframes toTop {
  from {
    top: 70%;
  }
  to {
    top: 0%;
  }
}
@-o-keyframes toTop {
  from {
    top: 70%;
  }
  to {
    top: 0%;
  }
}
@keyframes toTop {
  from {
    top: 70%;
  }
  to {
    top: 0%;
  }
}
