.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-Index: 999;
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 405px;
  height: auto;
  text-align: center;
  color: #f6f6f6;
  background: #fbb034 url("../../imgs/global/4N-logo-white.svg") no-repeat center center;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.content h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  font-family: tlight, 'arial narrow', sans-serif;
  color: #f6f6f6;
  text-transform: uppercase;
}
.content a {
  color: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}
.content a:hover {
  text-decoration: underline;
}
.close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
  opacity: 0.7;
  cursor: pointer;
  background: url("../../imgs/global/4N-close.png") no-repeat center center;
  z-index: 1000;
}
.presse {
  position: relative;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.25s;
}
.presse h1 {
  padding-top: 32px;
  padding-bottom: 213px;
}
.presse span {
  display: block;
  font-size: 13px;
  line-height: 15px;
  font-family: "Times New Roman";
}
.presse div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.click span:not(:last-child) {
  margin-bottom: 20px;
}
.form {
  padding-bottom: 20px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s;
}
.form input {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  font-family: treg, arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #fff inset;
  border-radius: 3px;
  vertical-align: baseline;
  transition: 0.2s border linear, 0.2s box-shadow linear;
}
.form input:focus {
  border-color: rgba(82,168,236,0.8);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset, 0 0 8px rgba(82,168,236,0.6);
  outline: 0 none;
}
.form input[type = 'text'] {
  width: 200px;
  padding: 5px;
}
.form input[type = 'submit'] {
  position: relative;
  left: 5px;
  height: 26px;
  padding: 3px 6px;
  text-shadow: 1px 1px 0 #fff;
  background-color: #f0f0f0;
  cursor: pointer;
  user-select: none;
}
.form input[type = 'submit']:active {
  background-color: #ccc;
  box-shadow: 0 1px 2px #999 inset;
}
.contact {
  position: relative;
}
.contact h1 {
  padding-top: 32px;
  padding-bottom: 183px;
}
.contact span {
  display: block;
  font-family: "Times New Roman";
}
.contact div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  font-size: 13px;
  line-height: 15px;
}
.contact a {
  display: block;
  margin-bottom: 20px;
}
