.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: #f6f6f6;
  z-index: 1000;
}
.logo {
  display: block;
  position: absolute;
  width: 48px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../../imgs/global/4N-logo-black.svg") center center no-repeat;
}
.link {
  position: absolute;
  top: 50%;
  right: 55px;
  height: 20px;
  transform: translateY(-50%);
}
.link a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.link a:not(:last-child) {
  margin-right: 12px;
}
.link a:nth-child(1) {
  background: url("../../imgs/global/tw-k.svg") center center no-repeat;
}
.link a:nth-child(2) {
  background: url("../../imgs/global/fb-k.svg") center center no-repeat;
}
.link a:nth-child(3) {
  background: url("../../imgs/global/pint-k.svg") center center no-repeat;
}
.link a:nth-child(4) {
  background: url("../../imgs/global/inst-k.svg") center center no-repeat;
}
.link a:nth-child(5) {
  background: url("../../imgs/global/yt-k.svg") center center no-repeat;
}
