.contact
	position relative
	h1
		padding-top 32px
		padding-bottom 183px
	span
		display block
		font-family "Times New Roman"
	div
		position absolute
		width 100%
		bottom 20px
		left 0
		font-size 13px
		line-height 15px
	a
		display block
		margin-bottom 20px
