.gm-contact {
  position: relative;
}
.gm-contact h1 {
  padding-top: 32px;
  padding-bottom: 183px;
}
.gm-contact span {
  display: block;
  font-family: "Times New Roman";
}
.gm-contact div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  font-size: 13px;
  line-height: 15px;
}
.gm-contact a {
  display: block;
  margin-bottom: 20px;
}
