.gm-presse {
  position: relative;
  opacity: 1;
  z-index: 999;
  transition: opacity 0.25s;
}
.gm-presse h1 {
  padding-top: 32px;
  padding-bottom: 213px;
}
.gm-presse span {
  display: block;
  font-size: 13px;
  line-height: 15px;
  font-family: "Times New Roman";
}
.gm-presse div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
}
.gm-click span:not(:last-child) {
  margin-bottom: 20px;
}
.gm-form {
  padding-bottom: 20px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.25s;
}
.gm-form input {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  font-family: treg, arial, sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #fff inset;
  border-radius: 3px;
  vertical-align: baseline;
  transition: 0.2s border linear, 0.2s box-shadow linear;
}
.gm-form input:focus {
  border-color: rgba(82,168,236,0.8);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset, 0 0 8px rgba(82,168,236,0.6);
  outline: 0 none;
}
.gm-form input[type = 'text'] {
  width: 200px;
  padding: 5px;
}
.gm-form input[type = 'submit'] {
  position: relative;
  left: 5px;
  height: 26px;
  padding: 3px 6px;
  text-shadow: 1px 1px 0 #fff;
  background-color: #f0f0f0;
  cursor: pointer;
  user-select: none;
}
.gm-form input[type = 'submit']:active {
  background-color: #ccc;
  box-shadow: 0 1px 2px #999 inset;
}
