.sb-create
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	width 100%
	height 100%
	background-color #252525
	.sb-text-box
		height 356px
		left 100%
	.sb-text-word
		left 250%
	.sb-logo
		left 500%
.sb-c-img
	position absolute
	top 50%
	left 100%
	width 710px
	height 461px
	transform translateY(-50%)
	overflow hidden
	div
		position absolute
		width 710px
		height 2850px
		z-index 100
	img
		margin-bottom -6px
.sb-create
	.sb-text-box
		animation sbToRight1 .75s .3s ease-in-out forwards
	.sb-text-word
		animation sbToRight2 .75s .3s ease-in-out forwards
	.sb-logo
		animation sbToRight3 .75s .3s ease-in-out forwards
	.sb-c-img
		animation sbToRight4 .75s .3s ease-in-out forwards
@keyframes sbToRight1
	from
		left 100%
	to
		left calc(50% - 470px)
@keyframes sbToRight2
	from
		left 250%
	to
		left 0%
@keyframes sbToRight3
	from
		left 500%
	to
		left 0%
@keyframes sbToRight4
	from
		left 300%
	to
		left calc(50% - 140px)
