.sophistication-box {
  height: 10000px;
}
.sb-logo {
  width: 52px;
  height: 20px;
  position: absolute;
}
.sb-logo a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.sb-logo a:first-child {
  background: url("../../imgs/global/tw-o.svg") no-repeat center center;
  margin-right: 12px;
}
.sb-logo a:last-child {
  background: url("../../imgs/global/fb-o.svg") no-repeat center center;
}
.sb-text-box {
  position: absolute;
  width: 315px;
  top: 50%;
  left: calc(50% - 470px);
  transform: translateY(-50%);
}
.sb-text-box h2 {
  width: 315px;
  margin: 0 0 7px;
  font-size: 40px;
  font-family: tlight, 'arial narrow', sans-serif;
  font-weight: 400;
  color: #f6f6f6;
  line-height: 43px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.sb-text-word {
  position: absolute;
}
.sb-text-word p {
  width: 315px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 17px;
  font-family: "Times New Roman";
  color: #fff;
  hyphens: auto;
  word-wrap: break-word;
}
.sb-text-word .sb-logo {
  margin-top: 14px;
}
