.box {
  height: 14254px;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 997;
  pointer-events: none;
}
.logo {
  width: 52px;
  height: 20px;
}
.logo a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.logo a:first-child {
  background: url("../../imgs/global/tw-o.svg") no-repeat center center;
  margin-right: 12px;
}
.logo a:last-child {
  background: url("../../imgs/global/fb-o.svg") no-repeat center center;
}
.text_box {
  position: absolute;
  width: 315px;
  top: 50%;
  left: calc(50% - 470px);
  transform: translateY(-50%);
}
.text_box h2 {
  width: 315px;
  margin: 0 0 7px;
  font-size: 40px;
  font-family: tlight, 'arial narrow', sans-serif;
  font-weight: 400;
  color: #f6f6f6;
  line-height: 43px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.text_word p {
  width: 315px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 17px;
  font-family: "Times New Roman";
  color: #fff;
  hyphens: auto;
  word-wrap: break-word;
}
.text_word .logo {
  margin-top: 14px;
}
.functionality {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  z-index: 100;
}
.f_img {
  position: absolute;
  width: 660px;
  height: 365px;
  top: 50%;
  left: calc(50% - 140px);
  transform: translateY(-50%);
  background: url("../../imgs/display/4N-fonc-anim.jpg") no-repeat left center;
  background-position-y: 0px;
}
.mechanism {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fbb034;
  z-index: 100;
}
.mechanism .text_box {
  height: 290px;
}
.mechanism .text_word {
  position: absolute;
}
.mechanism .logo {
  position: absolute;
}
.mechanism .logo a:first-child {
  background: url("../../imgs/global/tw-k.svg") no-repeat center center;
}
.mechanism .logo a:last-child {
  background: url("../../imgs/global/fb-k.svg") no-repeat center center;
}
.m_img {
  position: absolute;
  width: 660px;
  height: 364px;
  top: 50%;
  left: calc(50% - 140px);
  transform: translateY(-50%);
}
.m_img div {
  position: absolute;
}
.specific {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  z-index: 100;
}
.s_box {
  position: absolute;
  top: 50%;
  width: 4400px;
  height: 546px;
  transform: translateY(-50%);
}
.s_box:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.s_title {
  position: absolute;
  top: 50%;
  margin-top: -252px;
  margin-left: 165px;
}
.s_title h2 {
  font-weight: 400;
  font-family: tlight, 'arial narrow', sans-serif;
  font-size: 40px;
  line-height: 43px;
  width: 315px;
  margin: 0 0 7px;
  letter-spacing: 3px;
  color: #f6f6f6;
  text-transform: uppercase;
}
.s_top_line {
  height: 276px;
  margin-left: 420px;
  float: left;
}
.s_top_line:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.s_top_line div {
  float: left;
}
.s_bot_line {
  height: 280px;
  margin-left: 67px;
  float: left;
}
.s_bot_line:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.s_bot_line div {
  float: left;
}
.watchmaking {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fbb034;
  z-index: 100;
}
.w_box {
  position: absolute;
  top: 50%;
  width: 3000px;
  height: 546px;
  transform: translateY(-50%);
}
.w_box:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.w_title {
  position: absolute;
  top: 50%;
  margin-top: -252px;
  margin-left: 165px;
}
.w_title h2 {
  font-weight: 400;
  font-family: tlight, 'arial narrow', sans-serif;
  font-size: 40px;
  line-height: 43px;
  width: 315px;
  margin: 0 0 7px;
  letter-spacing: 3px;
  color: #f6f6f6;
  text-transform: uppercase;
}
.w_title p {
  margin: 0;
  padding: 0;
  width: 315px;
  color: #fff;
  font-size: 13px;
  line-height: 17px;
  font-family: "Times New Roman";
  hyphens: auto;
  word-wrap: break-word;
}
.w_title .logo {
  margin-top: 14px;
}
.w_title .logo a:first-child {
  background: url("../../imgs/global/tw-k.svg") no-repeat center center;
}
.w_title .logo a:last-child {
  background: url("../../imgs/global/fb-k.svg") no-repeat center center;
}
.w_top_line {
  height: 273px;
  margin: 20px 0 0 495px;
  float: left;
}
.w_top_line:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.w_top_line div {
  float: left;
}
.w_bot_line {
  height: 273px;
  margin-left: 155px;
  float: left;
}
.w_bot_line:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.w_bot_line div {
  float: left;
}
