.display-box
	height 14254px
.db-logo
	width 52px
	height 20px
	position absolute
	a
		display inline-block
		width 20px
		height 20px
		&:first-child
			background url('../../imgs/global/tw-o.svg') no-repeat center center
			margin-right 12px
		&:last-child
			background url('../../imgs/global/fb-o.svg') no-repeat center center
.db-text-box
	position absolute
	width 315px
	top 50%
	left calc(50% - 470px)
	transform translateY(-50%)
	h2
		width 315px
		margin 0 0 7px
		font-size 40px
		font-family tlight,'arial narrow',sans-serif
		font-weight 400
		color #f6f6f6
		line-height 43px
		letter-spacing 3px
		text-transform uppercase
.db-text-word
	position absolute
	p
		width 315px
		margin 0
		padding 0
		font-size 13px
		line-height 17px
		font-family "Times New Roman"
		color #fff
		hyphens auto
		word-wrap break-word
	.db-logo
		margin-top 14px
