.box {
  height: 14254px;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 997;
  pointer-events: none;
}
