.db-functionality {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #252525;
  z-index: 100;
}
.db-functionality .db-text-box {
  height: 322px;
  left: 100%;
}
.db-functionality .db-text-word {
  left: 250%;
}
.db-functionality .db-logo {
  left: 500%;
}
.db-f-img {
  position: absolute;
  width: 660px;
  height: 365px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background: url("../../imgs/display/4N-fonc-anim.jpg") no-repeat left center;
  background-position-y: 0px;
}
.db-functionality .db-text-box {
  animation: dbToRight1 0.75s 0.3s ease-in-out forwards;
}
.db-functionality .db-text-word {
  animation: dbToRight2 0.75s 0.3s ease-in-out forwards;
}
.db-functionality .db-logo {
  animation: dbToRight3 0.75s 0.3s ease-in-out forwards;
}
.db-functionality .db-f-img {
  animation: dbToRight4 0.6s 0.5s ease-in-out forwards;
}
@-moz-keyframes dbToRight1 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 470px);
  }
}
@-webkit-keyframes dbToRight1 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 470px);
  }
}
@-o-keyframes dbToRight1 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 470px);
  }
}
@keyframes dbToRight1 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 470px);
  }
}
@-moz-keyframes dbToRight2 {
  from {
    left: 250%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes dbToRight2 {
  from {
    left: 250%;
  }
  to {
    left: 0%;
  }
}
@-o-keyframes dbToRight2 {
  from {
    left: 250%;
  }
  to {
    left: 0%;
  }
}
@keyframes dbToRight2 {
  from {
    left: 250%;
  }
  to {
    left: 0%;
  }
}
@-moz-keyframes dbToRight3 {
  from {
    left: 500%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes dbToRight3 {
  from {
    left: 500%;
  }
  to {
    left: 0%;
  }
}
@-o-keyframes dbToRight3 {
  from {
    left: 500%;
  }
  to {
    left: 0%;
  }
}
@keyframes dbToRight3 {
  from {
    left: 500%;
  }
  to {
    left: 0%;
  }
}
@-moz-keyframes dbToRight4 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 140px);
  }
}
@-webkit-keyframes dbToRight4 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 140px);
  }
}
@-o-keyframes dbToRight4 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 140px);
  }
}
@keyframes dbToRight4 {
  from {
    left: 100%;
  }
  to {
    left: calc(50% - 140px);
  }
}
