.db-mechanism {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fbb034;
  z-index: 100;
}
.db-mechanism .db-text-box {
  height: 290px;
}
.db-mechanism .db-logo a:first-child {
  background: url("../../imgs/global/tw-k.svg") no-repeat center center;
}
.db-mechanism .db-logo a:last-child {
  background: url("../../imgs/global/fb-k.svg") no-repeat center center;
}
.db-m-img {
  position: absolute;
  width: 660px;
  height: 364px;
  top: 50%;
  left: calc(50% - 140px);
  transform: translateY(-50%);
}
.db-m-img div {
  position: absolute;
}
