.logo {
  width: 52px;
  height: 20px;
  position: absolute;
}
.logo a {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.logo a:first-child {
  background: url("../../imgs/global/tw-o.svg") no-repeat center center;
  margin-right: 12px;
}
.logo a:last-child {
  background: url("../../imgs/global/fb-o.svg") no-repeat center center;
}
.text_box {
  position: absolute;
  width: 315px;
  top: 50%;
  left: calc(50% - 470px);
  transform: translateY(-50%);
}
.text_box h2 {
  width: 315px;
  margin: 0 0 7px;
  font-size: 40px;
  font-family: tlight, 'arial narrow', sans-serif;
  font-weight: 400;
  color: #f6f6f6;
  line-height: 43px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.text_word {
  position: absolute;
}
.text_word p {
  width: 315px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 17px;
  font-family: "Times New Roman";
  color: #fff;
  hyphens: auto;
  word-wrap: break-word;
}
.text_word .logo {
  margin-top: 14px;
}
.mechanism {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fbb034;
  z-index: 100;
}
.mechanism .text_box {
  height: 290px;
}
.mechanism .logo a:first-child {
  background: url("../../imgs/global/tw-k.svg") no-repeat center center;
}
.mechanism .logo a:last-child {
  background: url("../../imgs/global/fb-k.svg") no-repeat center center;
}
.m_img {
  position: absolute;
  width: 660px;
  height: 364px;
  top: 50%;
  left: calc(50% - 140px);
  transform: translateY(-50%);
}
.m_img div {
  position: absolute;
}
