.box {
  height: 7140px;
}
.welcome {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  animation: toTop 1s ease-in-out forwards;
}
.welcome span {
  display: block;
  position: absolute;
  width: 700px;
  height: 200px;
  top: 50%;
  left: 50%;
  font-size: 100px;
  line-height: 90px;
  font-weight: 400;
  font-family: treg, arial, sans-serif;
  text-align: center;
  color: #f6f6f6;
  transform: translate(-50%, -50%);
}
.welcome_img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../imgs/welcome/4N-welcome.jpg") no-repeat center center;
  z-index: 99;
  animation: toRight 1.25s ease-in-out forwards;
}
.list_box {
  position: fixed;
  height: 366px;
  width: 1877px;
  top: 50%;
  background-color: #252525;
  padding: 37px;
  transform: translateY(-50%);
  z-index: 100;
  animation: toLeft 0.1s ease-in-out forwards;
}
.list_box:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.list_box > div {
  position: relative;
  width: 413px;
  height: 366px;
  float: left;
  color: #f6f6f6;
}
.list_box > div:not(:last-child) {
  margin-right: 75px;
}
.list_box > div:not(:last-child):after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 366px;
  top: 0;
  right: -38px;
  background-color: #f6f6f6;
}
.cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fbb034;
  z-index: 100;
}
.cover h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1120px;
  height: 160px;
  font-size: 160px;
  font-weight: 400;
  font-family: treg, arial, sans-serif;
  color: #000;
  margin: 0;
  transform: translate(-50%, -50%);
}
.cover h1 span {
  font-family: tbold, arial, sans-serif;
}
.invite {
  position: fixed;
  left: 50%;
  bottom: 94px;
  width: 84px;
  height: 50px;
  color: #f6f6f6;
  text-align: center;
  z-index: 990;
  transform: translateX(-50%);
  transition: opacity 0.95s 1.5s ease-in-out;
}
.invite h4,
.invite h5 {
  width: 100%;
  font-weight: 400;
  font-family: treg, arial, sans-serif;
  margin: 0;
}
.invite h4 {
  font-size: 13px;
}
.invite h5 {
  font-size: 11px;
  padding-bottom: 3px;
}
.arrow {
  position: relative;
}
.arrow:before,
.arrow:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fbb034;
  transform: translateX(-50%);
}
.arrow:before {
  top: 0;
  animation: toggleOpacity 1s ease-in-out infinite;
}
.arrow:after {
  opacity: 0.5;
  top: 9px;
  animation: toggleOpacity 1s 0.5s ease-in-out infinite;
}
@-moz-keyframes toTop {
  from {
    margin-top: 200%;
  }
  to {
    margin-top: 0%;
  }
}
@-webkit-keyframes toTop {
  from {
    margin-top: 200%;
  }
  to {
    margin-top: 0%;
  }
}
@-o-keyframes toTop {
  from {
    margin-top: 200%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes toTop {
  from {
    margin-top: 200%;
  }
  to {
    margin-top: 0%;
  }
}
@-moz-keyframes toRight {
  from {
    margin-left: -1700px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes toRight {
  from {
    margin-left: -1700px;
  }
  to {
    margin-left: 0;
  }
}
@-o-keyframes toRight {
  from {
    margin-left: -1700px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes toRight {
  from {
    margin-left: -1700px;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes toLeft {
  from {
    margin-left: 1700px;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes toLeft {
  from {
    margin-left: 1700px;
  }
  to {
    margin-left: 0;
  }
}
@-o-keyframes toLeft {
  from {
    margin-left: 1700px;
  }
  to {
    margin-left: 0;
  }
}
@keyframes toLeft {
  from {
    margin-left: 1700px;
  }
  to {
    margin-left: 0;
  }
}
@-moz-keyframes toggleOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes toggleOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@-o-keyframes toggleOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes toggleOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
