.animation-box {
  height: 5189px;
}
.ab-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 3768px;
  height: 100%;
  background: #252525;
  margin-left: 100%;
  animation: abToRight 0.75s 0.08s ease-in-out forwards;
}
.ab-content:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
@-moz-keyframes abToRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes abToRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@-o-keyframes abToRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes abToRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
